.histogram{
    box-sizing: border-box;
    position: absolute;
    width: 354px;
    height: 185px;
    left: 537px;
    top: 529px;
    background: #FFFFFF; 

    border: 1px solid #ACB5BD;
    border-radius: 8px;
}
 
.histogram__header{
    display: flex;
    justify-content: space-between;
}

.histogram__title{
    height: 100px;
    width: 130px;
}

.histogram__link{
    margin-top: 20px ;
    margin-right:20px ;
    margin-bottom:0 ;
    margin-left:0;
}

.histogram__subtitle_orders{
    color: #ACB5BD;
}

.histogram__body{
    height: 85px;
}

.histogram__chart{
    display: grid;
    grid-template-columns: repeat(33, 10px);
    margin: 10px;
    align-items: end;
}

.histogram__column_low{
    width: 9px;
    height: 50px;
    left: 563px;
    top: 640px;
    margin-left: 10px;
    background: #4263EB;
}

.histogram__column_mid{
    width: 9px;
    height: 30px;
    margin-left: 10px;
    background: #4263EB;
}

.histogram__column_height{
    width: 9px;
    height: 40px;
    margin-left: 10px;
    background: #4263EB;
}


