.body{
    box-sizing: border-box;
    position: absolute;
    width: 354px;
    height: 185px;
    left: 537px;
    top: 529px;
    background: #FFFFFF; 

    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.people{
    height: 100px;
    width: 130px;
}

.link{
    margin-top: 20px ;
    margin-right:20px ;
    margin-bottom:0 ;
    margin-left:0;
}

.people_orders{
    color: #ACB5BD;
}

.diagram{
    height: 85px;
}

.diagram_body{
    display: grid;
    grid-template-columns: repeat(33, 10px);
    margin: 10px;
    align-items: end;
}

.diagram_body_result1{
    width: 9px;
    height: 50px;
    left: 563px;
    top: 640px;
    margin-left: 10px;
    background: #4263EB;
}

.diagram_body_result2{
    width: 9px;
    height: 30px;
    margin-left: 10px;
    background: #4263EB;
}

.diagram_body_result3{
    width: 9px;
    height: 40px;
    margin-left: 10px;
    background: #4263EB;
}


