.god{
    box-sizing: border-box;
    position: absolute;
    width: 354px;
    height: 185px;
    left: 537px;
    top: 529px;
    background: #FFFFFF;

    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.mom{
    display: flex;
    justify-content: space-between;
   
}

.douther {
    height: 100px;
    width: 130px;
}

.viwe{
    margin-top: 20px ;
    margin-right:20px ;
    margin-bottom:0 ;
    margin-left:0;

}

.orders{
    color: #ACB5BD;
}

.dad{
    height: 85px;
}

.scholl {
    display: grid;
    grid-template-columns: repeat(33, 10px);
    margin: 10px;
    align-items: end;
}

.son1{
    width: 9px;
    height: 50px;
    left: 563px;
    top: 640px;
    margin-left: 10px;
    background: #4263EB;
}

.son2{
    width: 9px;
    height: 30px;
    margin-left: 10px;
    background: #4263EB;
}

.son3{
    width: 9px;
    height: 40px;
    margin-left: 10px;
    background: #4263EB;
}


